<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="flex-container">
          <div style="flex-grow: 6">
            <h5>Job details</h5>
        <h6>salary</h6>
            ₹1,80,000 - ₹4,00,000 a year
        <h6>Benefits & Perks</h6>
            Work from home, Internet reimbursement
        <h6>Job Type</h6>
            Full-time<br>
            Internship<br>
            Fresher
        <h6>Qualifications</h6>
                <ul class="a">
                    <li>Bachelor's (Preferred)</li>
                    <li>Programming: 1 year (Preferred)</li>
                    <li>Total work: 1 year (Preferred)</li>
                    <li>Back-end development: 1 year (Preferred)</li>
                </ul>
            
        <h5>Full Job Description</h5>
            <h6>Key Responsibilities:</h6>
            <ul class="b">
              <li>Analyses, designs, develops, codes and implements programs in one or more programming languages, for Web and Rich Internet Applications.</li>
              <li>Supports applications with an understanding of system integration, test planning, scripting, and troubleshooting.</li>
              <li>Assesses the health and performance of software applications and databases.</li>
              <li>Establishes, participates, and maintains relationships with business units, customers and subject matter experts in order to remain apprised of direction, project status, architectural and technology trends, risks, and functional/integration issues.</li>
              <li>Defines specifications and develop programs, modifies existing programs, prepares test data, and prepares functional specifications.</li>
              <li>Analyzes program and application performance using various programming languages, tools and techniques.</li>
              <li>Provides guidance to non-technical staff in using software and hardware systems most effectively and efficiently.</li>
              <li>Reviews project proposals, evaluates alternatives, provides estimates and makes recommendations.</li>
              <li>Designs and defines specifications for systems.</li>
              <li>Identifies potential process improvement areas and suggests options and recommends approaches.</li>
            </ul>
        <h6>Qualifications:</h6>
            <ul class="c">
                <li>Bachelor’s degree in Computer Science or related field or equivalent experience.</li>
                <li>5+ years of experience in a computing environment with multiple programming languages.</li>
                <li>Java, JavaScript, Spring</li>
                <li>Web Technologies (DHTML, AJAX, etc.)</li>
                <li>Experience with design and development of REST API platform using Apigee/APIM, converting web services from SOAP to REST or vice-versa.</li>
                <li>Experience with Security frameworks (e.g., JWT, OATH2)</li>
                <li>Experience in API layer like security, custom analytics, throttling, caching, logging, monetization, request and response modifications etc. using Apigee</li>
                <li>Proficient in SQL and Stored Procedures such as in Oracle, MySQL</li>
                <li>Experience with Unix, Linux Operating Systems</li>
                <li>Experience with Scrum and other Agile processes.</li>
                <li>Knowledge of Jira, Git/SVN, Jenkins</li>
                <li>Experience in creating REST API documentation using Swagger and YAML or similar tools desirable</li>
                <li>Experience with Integration frameworks (e.g., Mule, Camel) desirable</li>
            </ul>
            <p>Job Types: Full-time, Fresher, Internship<br>
            Contract length: 12 months<br>
            Salary: ₹180,000.00 - ₹400,000.00 per year<br>
            <h6>Benefits:</h6>
                <ul class="d">
                    <li>Internet reimbursement</li>
                    <li>Work from home</li>
                </ul>
            <h6>Schedule:</h6>
            <ul class="e">
                <li>Day shift</li>
                <li>Monday to Friday</li>
                <li>Weekend availability</li>
            </ul> 
            <h6>Supplemental pay types:</h6>
            <ul class="f">
                <li>Commission pay</li>
                <li>Performance bonus</li>
            </ul> 
            <h6>Ability to commute/relocate:</h6>
            <ul class="g">
                <li>Nashik, Maharashtra: Reliably commute or planning to relocate before starting work (Required)</li>
            </ul>
            <h6>Education:</h6>
            <ul class="h">
                <li>Bachelor's (Preferred)</li>
            </ul>
            <h6>Experience:</h6>
            <ul class="i">
                <li>Programming: 1 year (Preferred)</li>
                <li>total work: 1 year (Preferred)</li>
                <li>Back-end development: 1 year (Preferred)</li>
            </ul>
          </div>
          <div style="flex-grow: 6">
                <h6>Company Info</h6>
                Website:<a href="https://www.kalasource.in/" target="_blank">Kalasource - Empowering Businesses</a><br>
                Address: 1st Floor, "Gangai", Plot No.11,Survey no.23/1, Vikhe Patil School Rd, Vrindawan Nagar, Kamatwade, Nashik, Maharashtra 422010<br><br>
            <div class="col-2 offset-10">
                <div class="d-grid">
                    <button type="submit" class="float-right btn btn-primary" routerLink="/application" routerLinkActive="active">Apply Now</button>
                </div>            
            </div>
        </div>
      </div>
    </div>
  </div>
  