<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="flex-container">
          <div style="flex-grow: 6">
            <h5>Job details</h5>
        <h6>salary</h6>
            ₹15,00,000 - ₹25,00,000 a year
        <h6>Benefits & Perks</h6>
            Work from home
        <h6>Job Type</h6>
            Full-time<br>
            Internship<br>
            Fresher
        <h6>Qualifications</h6>
                <ul class="a">
                    <li>Bachelor's (Preferred)</li>
                    <li>Programming: 1 year (Preferred)</li>
                    <li>Total work: 1 year (Preferred)</li>
                    <li>Cloud Engineer: 1 year (Preferred)</li>
                </ul>
            
        <h5>Full Job Description</h5>
            <p>Magnon Group is hiring a Cloud Engineer.</p>
            <p>Experience Required: 3-10 Yrs.</p>
        <h6>Roles and Responsibilities:</h6>
            <ul class="b">
                <li>Collaborate with the global engineering/development team, cultivating a robust and collaborative working environment</li>
                <li>Provide input for systems architecture design and application architecture</li>
                <li>Support the development teams in developing and troubleshooting the platform</li>
                <li>Plan, develop, tested, and deploy updates to the infrastructure</li>
                <li>Take ownership of deployments of code to our platforms</li>
                <li>Help monitor and maintain the storage platform across our sites</li>
                <li>Identify areas where existing infrastructure and practices can be improved and work to implement those improvements</li>
            </ul>
            <h6>Experience:</h6>
                <ul class="c">
                    <li>Experience setting up and maintaining Linux and windows server environments</li>
                    <li>Experience working with IaaC systems, ideally cloud formation</li>
                    <li>Experience working with AWS, ideally including Cloudformation, EC2, ECS, Lambda, Cloudwatch, RDS, S3, SQS</li>
                    <li>Experience working with Docker</li>
                    <li>Experience working with python</li>
                    <li>Experience working with git</li>
                </ul>
            <h6>Key Behaviors that we look for:</h6>
            <ul class="d">
                <li>A positive mindset and a can-do attitude.</li>
                <li>Attention to detail.</li>
                <li>English Skills (ability to effectively communicate via written and spoken English).</li>
                <li>You are constantly striving to learn new things and improve.</li>
                <li>You follow industry news, regularly tinker with new technologies, and read books and blogs to keep your skills current.</li>
                <li>You work well within a team environment and enjoy working in the office with your colleagues</li>
            </ul> 
            <p>Job Location: Sector 63, Noida</p>
            <p>Job Type: Full-time</p>
        <h6>Schedule:</h6>
            <ul class="e">
                 <li>Monday to Friday</li>
            </ul>
          </div>
          <div style="flex-grow: 6">
                <h6>Magnon Group:</h6>
                Magnon is among the largest advertising, digital and marketing-performance agency-groups in India. A part of the Fortune 200 global media corporation - Omnicom Group (NYSE: OMC), Magnon employs over 400 professionals across its offices in Delhi, Mumbai and Bangalore. With three award-winning agencies, namely magnon designory, magnon eg+ and magnon sancus, the Group offers three-sixty-degree marketing solutions including advertising, digital, social, creative production, media, localization, linguistics, and marketing solutions’ outsourcing labs, for top global and Indian clients. Magnon works with some of the biggest brands in the world, across five continents, including several Global 500 companies.<br>
                Magnon Group is an equal opportunity employer and welcomes applications from all sections of society and does not discriminate on grounds of race, color, gender, age, national origin, religion, sexual orientation, gender identity or expression, marital status, citizenship, disability, or any other basis as protected by applicable law.
                <h6>Company Info</h6>
                Website:<a href="https://www.magnongroup.com/" target="_blank">Magnon Group</a><br>
                Address: C-168, Sector 63 Rd, A Block, Sector 65, Noida, Uttar Pradesh 201307<br><br>
            <div class="col-2 offset-10">
                <div class="d-grid">
                    <button type="submit" class="float-right btn btn-primary" routerLink="/application" routerLinkActive="active">Apply Now</button>
                </div>            
            </div>
        </div>
      </div>
    </div>
  </div>
  
