<!-- ======= Programme and course ======= -->

<h4>Course Details:</h4>
  <table id="lg">
      <tr>
        <th>SI.No</th>
        <th>Course</th>
        <th>Duration</th>
        <th>Languages</th>
        <th>Fee</th>
      </tr>
      <tr>
        <td>1.</td>
        <td> Full Stack Web Development</td>
        <td>8 Weeks, 1hr/day (flexible schedule)</td>
        <td>HTML/CSS, MySQL, PHP, JavaScript, and React</td>
        <td>₹ 1349/</td>
      </tr>
      <tr>
        <td>2.</td>
        <td>Android App Development</td>
        <td>8 Weeks, 1 hr/day (flexible schedule)</td>
        <td> XML and Kotlin</td>
        <td>₹ 1499/</td>
      </tr>
      <tr>
        <td>3.</td>
        <td>Core Java</td>
        <td>6 Weeks, 1hr/day (flexible schedule)</td>
        <td>Java and Object Oriented Programming </td>
        <td>₹ 1200/</td>
      </tr>
      <tr>
        <td>4.</td>
        <td>Front-end Developer</td>
        <td>6 Weeks, 1hr/day (flexible schedule)</td>
        <td>React JS</td>
        <td>₹ 1999/</td>
      </tr>
      <tr>
        <td>6.</td>
        <td>Software Testing</td>
        <td>6 Weeks, 1hr/day (flexible schedule)</td>
        <td>Java basics, automation testing, and Selenium</td>
        <td>₹ 1950/</td>
      </tr>
      <tr>
        <td>6.</td>
        <td>Cloud Computing with AWS </td>
        <td>8 Weeks, 1hr/day (flexible schedule)</td>
        <td>AWS Cloud concepts, AWS services, security, architecture, pricing</td>
        <td>₹ 2000/</td>
      </tr>
      <tr>
        <td>7.</td>
        <td>VLSI Design</td>
        <td>10 Weeks, 1hr/day (flexible schedule)</td>
        <td>VLSI tools, HDL coding, concepts using Verilog, circuits, and FPGA</td>
        <td>₹ 2500/</td>
      </tr>
      <tr>
        <td>8.</td>
        <td> Back End Web Development </td>
        <td>10 Weeks</td>
        <td>NodeJS, Databases, Express, JS</td>
        <td>₹ 1500/</td>
      </tr>
      <tr>
        <td>9.</td>
        <td>Front-End Web Development</td>
        <td>5 Weeks</td>
        <td>HTML, CSS, JavaScript, jQuery, and Bootstrap</td>
        <td>₹ 1499/</td>
      </tr>
      <tr>
        <td>10.</td>
        <td>Programming with Python</td>
        <td>6 Weeks, 1hr/day (flexible schedule)</td>
        <td>Python</td>
        <td>₹ 1499/</td>
      </tr>
  </table><br>

  <!-- ======= Footer ======= -->

<footer id="footer">

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>CareerPro</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://www.webdevitsolutions.com/" target="_blank">WebDevITSolutions</a>
    </div>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>



