<!-- ======= collaborations ======= -->
<section id="collaboration" class="collaboration section-bg">
  <div class="row collaboration-container" data-aos="fade-up">
    <div class="collaboration-item filter-app">
      <div class="collaboration-wrap">
        <img src="../../assets/img/Collaboration/collaboration.jpg" class="img-fluid" alt="">
        <div class="collaboration-info">
        <h4>Our Collaborations</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="colleges" class="content">
<section id="colleges" class="colleges section-bg">
      
  <div class="section-title">
    <h2 data-aos="fade-in"> University and Colleges:</h2>
  </div>
<div class="row colleges-container" data-aos="fade-up">

  <div class="col-lg-4 col-md-6 top-colleges filter-app">
    <div class="colleges-wrap">
      <img src="../../assets/img/Collaboration/college/PWC.jpg" class="img-fluid" alt="">
      <div class="colleges-info">
      <h4><a href="https://patnawomenscollege.in/" target="_blank">Patna Women's College, Patna</a></h4>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 top-colleges filter-app">
    <div class="colleges-wrap">
      <img src="../../assets/img/Collaboration/college/ge.jpg" class="img-fluid" alt="">
      <div class="colleges-info">
      <h4><a href="https://www.geu.ac.in/" target="_blank">Graphic Era, Dehradun</a></h4>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 top-colleges filter-app">
    <div class="colleges-wrap">
      <img src="../../assets/img/Collaboration/college/dbuu.webp" class="img-fluid" alt="">
      <div class="colleges-info">
      <h4><a href="https://www.dbuu.ac.in/" target="_blank">DBUU Dehradun</a></h4>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 top-colleges filter-app">
    <div class="colleges-wrap">
      <img src="../../assets/img/Collaboration/college/L.N.jpg" class="img-fluid" alt="">
      <div class="colleges-info">
      <h4><a href="https://lnmcbm.org/" target="_blank">L.N.Mishra College of Business Management, Muzaffarpur</a></h4>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 top-colleges filter-app">
    <div class="colleges-wrap">
      <img src="../../assets/img/Collaboration/college/jnu.webp" class="img-fluid" alt="">
      <div class="colleges-info">
      <h4><a href="https://www.jnu.ac.in/main/" target="_blank">JNU, New Delhi</a></h4>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 top-colleges filter-app">
    <div class="colleges-wrap">
      <img src="../../assets/img/Collaboration/college/BIT.jpeg" class="img-fluid" alt="">
      <div class="colleges-info">
      <h4><a href="https://bit-bangalore.edu.in/" target="_blank">Bangalore Institute of Technology, Bangalore</a></h4>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 top-colleges filter-app">
    <div class="colleges-wrap">
      <img src="../../assets/img/Collaboration/college/AU.webp" class="img-fluid" alt="">
      <div class="colleges-info">
      <h4><a href="https://www.allduniv.ac.in/" target="_blank"> University of Allahabad, Allahabad</a></h4>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 top-colleges filter-app">
    <div class="colleges-wrap">
      <img src="../../assets/img/Collaboration/college/BHU.webp" class="img-fluid" alt="">
      <div class="colleges-info">
      <h4><a href="https://www.iitbhu.ac.in/" target="_blank">Indian Institute of Technology (BHU), Varanasi</a></h4>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 top-colleges filter-app">
    <div class="colleges-wrap">
      <img src="../../assets/img/Collaboration/college/VIT.webp" class="img-fluid" alt="">
      <div class="colleges-info">
      <h4><a href="https://chennai.vit.ac.in/" target="_blank">Vellore Institute of Technology (VIT), Chennai</a></h4>
      </div>
    </div>
  </div>
  
</div>
</section>
</div>

<br><br>

<!-- Top Companies -->

<div id="topcompanies" class="content">
<section id="companies" class="companies section-bg">
    
    <div class="section-title">
      <h2 data-aos="fade-in">Top companies hiring now</h2>
    </div>
    <div class="row companies-container" data-aos="fade-up">

    <div class="col-lg-4 col-md-6 top-companies filter-app">
      <div class="companies-wrap">
        <img src="../../assets/img/Collaboration/top company/Accenturee.webp" class="img-fluid" alt="">
        <div class="companies-info">
        <h4><a href="https://www.accenture.com/in-en" target="_blank">Accenture</a></h4>
      </div>
    </div>
  </div>

    <div class="col-lg-4 col-md-6 top-companies filter-app">
      <div class="companies-wrap">
        <img src="../../assets/img/Collaboration/top company/Amazon.jpg" class="img-fluid" alt="">
        <div class="companies-info">
          <h4><a href="https://www.amazon.in/" target="_blank">Amazon</a></h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 top-companies filter-app">
      <div class="companies-wrap">
        <img src="../../assets/img/Collaboration/top company/cognizant.jpg" class="img-fluid" alt="">
        <div class="companies-info">
          <h4><a href="https://www.cognizant.com/in/en" target="_blank">Cognizant</a></h4>
        </div>
      </div>
    </div>

        <div class="col-lg-4 col-md-6 top-companies filter-app">
          <div class="companies-wrap">
            <img src="../../assets/img/Collaboration/top company/oracle.jpg" class="img-fluid" alt="">
            <div class="companies-info">
              <h4><a href="https://www.oracle.com/in/" target="_blank">Oracle</a></h4>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 top-companies filter-app">
          <div class="companies-wrap">
            <img src="../../assets/img/Collaboration/top company/sap.jpg" class="img-fluid" alt="">
            <div class="companies-info">
              <h4><a href="https://www.sap.com/india/index.html" target="_blank">SAP</a></h4>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 top-companies filter-app">
          <div class="companies-wrap">
            <img src="../../assets/img/Collaboration/top company/Deloitte.jpg" class="img-fluid" alt="">
            <div class="companies-info">
              <h4><a href="https://www2.deloitte.com/ui/en/pages/careers/topics/careers.html?id=in:2ps:3gl:usijobs22:awa:career:110722:consulting%20jobs:b:c:kwd-11122371&gclid=CjwKCAjwzuqgBhAcEiwAdj5dRt1aVa9prXsaJkCRNJ0w31PR8vHefQbc0WUwxWFeFQfmRdqcA8k8UhoCDbsQAvD_BwE" target="_blank">Deloitte</a></h4>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 top-companies filter-app">
          <div class="companies-wrap">
            <img src="../../assets/img/Collaboration/top company/TCS 1.jpg" class="img-fluid" alt="">
            <div class="companies-info">
              <h4><a href="https://www.tcs.com/" target="_blank">TCS</a></h4>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 top-companies filter-app">
          <div class="companies-wrap">
            <img src="../../assets/img/Collaboration/top company/Microsoft.jpg" class="img-fluid" alt="">
            <div class="companies-info">
              <h4><a href="https://www.microsoft.com/en-in" target="_blank">Microsoft</a></h4>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 top-companies filter-app">
          <div class="companies-wrap">
            <img src="../../assets/img/Collaboration/top company/Hewlett.jpg" class="img-fluid" alt="">
            <div class="companies-info">
            <h4><a href="https://support.hp.com/in-en" target="_blank">Hewlett Packard Enterprise(HP)</a></h4>
            </div>
          </div>
        </div>

    </div>
</section>
</div><br>

<!-- ======= Footer ======= -->

<footer id="footer">

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>CareerPro</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://www.webdevitsolutions.com/" target="_blank">WebDevITSolutions</a>
    </div>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
