<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="flex-container">
          <div style="flex-grow: 6">
            <h5>Job details</h5>
        <h6>Job Type</h6>
            Full-time
        <h5>Full Job Description</h5>
            <p>Location : Chennai, IN<br>
                Qualification : BE, BSc, MSc, MCA<br>
                Industry : Sports Technology<br>
                Experience : 0-1 Years</p>
        <h6>What are we looking for?</h6>
        <p>We are looking for an innovative, self-motivated DevOps engineer who is passionate about Networking and Cloud. Someone who enjoys challenging work and is curious and driven. Someone who can help us take our products to the next level. Our team is deeply passionate about our clients, products, and technologies, and if you have what it takes, we’d love for you to join us!</p>
            <h6>Responsibilities</h6>
                <ul class="a">
                    <li>Implementing various development, testing, automation tools, and IT infrastructure</li>
                    <li>Monitoring the processes during the entire lifecycle for its adherence and updating or creating new processes for improvement and minimizing the wastage</li>
                    <li>Incidence management and root cause analysis</li>
                    <li>Selecting and deploying appropriate CI/CD tools</li>
                    <li>Strive for continuous improvement and build continuous integration, continuous development, and constant deployment pipeline (CI/CD Pipeline)</li>
                    <li>Identifying and deploying cybersecurity measures by continuously performing vulnerability assessment and risk management</li>
                </ul>
            <h6>Requirements</h6>
            <ul class="b">
                <li>Comfortable working on Linux based infrastructure.</li>
                <li>Configuration and managing databases such as MySQL, Mongo</li>
                <li>Working knowledge of various tools, open-source technologies, and cloud services</li>
                <li>Building and maintaining Docker containers, databases such as MongoDB, REDIS, MySQL, Aurora in AWS cloud</li>
                <li>Strong experience in AWS deployment experience using scripts (specifically using AWS CLI)</li>
                <li>Strong understanding of securing AWS environments and meet compliance requirements</li>
                <li>Ability to learn/use a wide variety of open source technologies and tools</li>
                <li>Ability to closely work with other engineers, stakeholders and customer support teams</li>
                <li>AWS cloud certification is an added plus</li>
            </ul> 
          </div>
          <div style="flex-grow: 6">
            <h6>Company Info</h6>
                Website:<a href="https://fanisko.com/" target="_blank">Fanisko Private Limited</a><br>
                Address: No.5/10, 4th Floor, Rangasamy St, Puduvai Nagar, Chromepet, Chennai, Tamil Nadu 600044<br><br>
            <div class="col-2 offset-10">
                <div class="d-grid">
                    <button type="submit" class="float-right btn btn-primary" routerLink="/application" routerLinkActive="active">Apply Now</button>
                </div>            
            </div>
        </div>
      </div>
    </div>
  </div>
  

