<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="flex-container">
          <div style="flex-grow: 6">
            <h5>Job details</h5>
        <h6>salary</h6>
            ₹2,50,000 - ₹12,00,000 a year
        <h6>Benefits & Perks</h6>
             Work from home, Provident Fund, Health insurance, Paid time off
        <h6>Job Type</h6>
            Full-time 
        <h6>Qualifications</h6>
                <ul class="a">
                    <li>React or Angular: 2 years (Required)</li>
                    <li>Bachelor's (Preferred)</li>
                    <li>Magneto (Preferred)</li>
                </ul>
            
        <h5>Full Job Description</h5>
            <ul class="b">
                <li>Work with other developers to ensure that the website is functional and visually appealing.</li>
                <li>Well versed with either react or angular</li>
                <li>Liaise with the client to gauge their needs and expectations.</li>
                <li>Plan the layout of the website.</li>
                <li>Ensure that the website is optimized for various devices.</li>
                <li>Use analytics to test client enjoyment.</li>
            </ul>
            <p>Job Type: Full-time</p>
            <p>Salary: ₹250,000.00 - ₹1,200,000.00 per year</p>
            <h6>Benefits:</h6>
            <ul class="c">
                <li>Commuter assistance</li>
                <li>Flexible schedule</li>
                <li>Health insurance</li>
                <li>Paid sick time</li>
                <li>Paid time off</li>
                <li>Provident Fund</li>
                <li>Work from home</li>
            </ul> 
        <h6>Schedule:</h6>
            <ul class="d">
                 <li>Flexible shift</li>
            </ul>
        <h6>Supplemental pay types:</h6>
            <ul class="e">
                <li>Yearly bonus</li>
                <li>Performance bonus</li>
            </ul>
        <h6>Education:</h6>
            <ul class="f">
                <li>Bachelor's (Preferred)</li>
            </ul>
        <h6>Experience:</h6>
        <ul class="g">
            <li>React or Angular: 2 years (Required)</li>
        </ul>
        <h6>License/Certification:</h6>
        <ul class="g">
            <li>Magneto (Preferred)</li>
            <li>Health insurance</li>
        </ul>
          </div>
          <div style="flex-grow: 6">
            <h6>Company Info</h6>
                Website:<a href="https://corover.ai/" target="_blank">CoRover Private Limited</a><br>
                Address: DSU Innovation Campus, II Block, 1, Hosur Rd, Kudlu Gate, Singasandra, Bengaluru, Karnataka 560068<br><br>
            <div class="col-2 offset-10">
                <div class="d-grid">
                    <button type="submit" class="float-right btn btn-primary" routerLink="/application" routerLinkActive="active">Apply Now</button>
                </div>            
            </div>
        </div>
      </div>
    </div>
  </div>
  


