


  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row d-flex align-items-center">
      <div class=" col-lg-6 py-5 py-lg-0 order-2 order-lg-1" data-aos="fade-right">
        <h1>Find your dream job Now</h1>
        <h2>Explore jobs with Alumni</h2>
        <a href="#" routerLink="/login" routerLinkActive="active" class="btn-get-started scrollto">Login</a>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
        <img src="../../assets/img/home/home.png" class="img-fluid" alt="">
      </div>
    </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container">

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

          <div class="col-lg-2 col-md-4 col-6">
            <div class="client-logo">
              <img src="../assets/img/client/client-1.png" class="img-fluid" alt="" data-aos="flip-right">
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <div class="client-logo">
              <img src="../assets/img/client/client-2.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="100">
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <div class="client-logo">
              <img src="../assets/img/client/client-3.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="200">
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <div class="client-logo">
              <img src="../assets/img/client/client-4.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="300">
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <div class="client-logo">
              <img src="../assets/img/client/client-5.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="400">
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <div class="client-logo">
              <img src="../assets/img/client/client-6.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="500">
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container">

        <div class="row gy-4">
          <div class="image col-xl-5"></div>
          <div class="col-xl-7">
            <div class="content d-flex flex-column justify-content-center ps-0 ps-xl-4">
              <h3 data-aos="fade-in" data-aos-delay="100">About CareerPro</h3>
              <p data-aos="fade-in">
                There’s nothing more personal than your own journey to success—whatever that means to you.
                So we built a platform that helps guide you through it.
                We use data-driven technology and personalized tools to help match employers 
                with great candidates based on individual wants,needs, and unique skill sets.
                Because our goal is to help everyone find their version of success.
              </p>
              <div class="row gy-4 mt-3">
                <div class="col-md-6 icon-box" data-aos="fade-up">
                  <!-- <i class="bx bx-receipt"></i> -->
                  <h4><a href="#">Our Vision </a></h4>
                  <p>Employee-Driven. Customer-Focused.<br>
                      We are changing the way companies around the world recruit 
                      their most important asset: their people.
                      </p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <!-- <i class="bx bx-cube-alt"></i> -->
                  <h4><a href="#">Our Values</a></h4>
                  <p>CareerPro INDIA strives to incorporate the following values into everything that we do:
                      Candor 
                      We communicate with clarity, honesty, and respect in all relationships.
                      </p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <!-- <i class="bx bx-images"></i> -->
                  <h4><a href="#">CareerPro INDIA Fast Fact</a></h4>
                  <p>CareerPro is India's fastest growing online job site.
                    CareerPro reaches top job seekers across India, including: 
                    Delhi, Mumbai, Bangalore, Chennai, and Hyderabad.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <!-- <i class="bx bx-shield"></i> -->
                  <h4><a href="#">Our Mission</a></h4>
                  <p>Our mission is to be the global leader in online recruitment 
                    advertising by being an employee-driven,
                    customer-focused organization that provides the best rate of 
                    return to our stakeholders.</p>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-in">Here are some good reads for your career!</h2>
          <p data-aos="fade-in">Service Career</p>
        </div>

        <div class="row">
          <div class="col-md-6 d-flex" data-aos="fade-right">
            <div class="card">
              <div class="card-img">
                <img src="../../assets/img/career service/jobchange.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Changeing Job Tips</a></h5>
                <p class="card-text">post view
                  7 Things to Look For While Changing Job......
                  
                  Here are 7 points to look out for when changing a job: - Identify what you are ideally looking for in a company - Workplace culture - Infrastructur...</p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex" data-aos="fade-left">
            <div class="card">
              <div class="card-img">
                <img src="../assets/img/career service/paneldiscussion.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">9 Tips to Ace a Panel Discussion</a></h5>
                <p class="card-text">Why is a panel discussion used as a form of a job interview?

                  1. Know your panelists beforehand
                  
                  2. Practice, practice, and more practice
                  
                  3. Maintain a good</p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>

          </div>
          <div class="col-md-6 d-flex" data-aos="fade-right">
            <div class="card">
              <div class="card-img">
                <img src="../../assets/img/career service/increase-productivity.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">10 Wonderful Tips on How to Increase Productivity</a></h5>
                <p class="card-text">How to Increase Productivity? is an important question for all. Whether you are an employer or an employee, the word ‘productivity’ is known to all.</p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex" data-aos="fade-left">
            <div class="card">
              <div class="card-img">
                <img src="../../assets/img/career service/fresher.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Top skills recruiters look out for in Freshers</a></h5>
                <p class="card-text">At the time of job search, every fresher has some great expectations from his/her first job, be it new opportunities, decent salary, new responsibilities or career growth. </p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Features Section ======= -->
    <!-- <section id="features" class="features section-bg">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-in">Features</h2>
          <p data-aos="fade-in">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="assets/img/features-1.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-4" data-aos="fade-left">
            <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="bi bi-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bi bi-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            </ul>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="assets/img/features-2.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            <h3>Corporis temporibus maiores provident</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="assets/img/features-3.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5" data-aos="fade-left">
            <h3>Sunt consequatur ad ut est nulla consectetur reiciendis animi voluptas</h3>
            <p>Cupiditate placeat cupiditate placeat est ipsam culpa. Delectus quia minima quod. Sunt saepe odit aut quia voluptatem hic voluptas dolor doloremque.</p>
            <ul>
              <li><i class="bi bi-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bi bi-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="bi bi-check"></i> Facilis ut et voluptatem aperiam. Autem soluta ad fugiat.</li>
            </ul>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="assets/img/features-4.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            <h3>Quas et necessitatibus eaque impedit ipsum animi consequatur incidunt in</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p>
          </div>
        </div>

      </div>
    </section>
     -->
    <!-- End Features Section -->

    <!-- ======= More Jobs Views Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-in">Featured companies actively hiring</h2>
       </div>
       <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../../assets/img/hiring job/amazon.webp " class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../../assets/img/hiring job/amazon.webp " data-gallery="portfolioGallery" class="portfolio-lightbox" title="back-end developer 2"></a>
                <a href="portfolio-details.html" title="More Details"></a>
              </div>
              <div class="portfolio-info">
                <h4><a href="https://www.amazon.in/" target="_blank">Amazon</a></h4>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="../../assets/img/hiring job/cognizant.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../../assets/img/hiring job/cognizant.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="cloud engineer 2"></a>
                <a href="portfolio-details.html" title="More Details"></a>
              </div>
              <div class="portfolio-info">
              <h4><a href="https://www.cognizant.com/in/en" target="_blank">Cognizant</a></h4>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="../../assets/img/hiring job/capgemini.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../../assets/img/hiring job/capgemini.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Cloud Engineer 3"></a>
                <a href="portfolio-details.html" title="More Details"></a>
              </div>
              <div class="portfolio-info">
                <h4><a href="https://www.capgemini.com/" target="_blank">Capgemini</a></h4>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../../assets/img/hiring job/accenture.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../../assets/img/hiring job/accenture.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="front-end developer 2"></a>
                <a href="portfolio-details.html" title="More Details"></a>
              </div>
              <div class="portfolio-info">
                <h4><a href="https://www.accenture.com/in-en" target="_blank">Accenture</a></h4>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../../assets/img/hiring job/tcss.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../../assets/img/hiring job/tcss.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="back-end developer 3"></a>
                <a href="portfolio-details.html" title="More Details"></a>
              </div>
              <div class="portfolio-info">
              <h4><a href="https://www.tcs.com/" target="_blank">TCS</a></h4>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="../../assets/img/hiring job/WebDev.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../../assets/img/hiring job/WebDev.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="cloud engineer 3"></a>
                <a href="portfolio-details.html" title="More Details"></a>
              </div>
              <div class="portfolio-info">
                <h4><a href="https://www.webdevitsolutions.com/" target="_blank">WebDev IT Solutions</a></h4>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../../assets/img/hiring job/microsoft.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../../assets/img/hiring job/microsoft.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="front-end developer 1"></a>
                <a href="portfolio-details.html" title="More Details"></a>
              </div>
              <div class="portfolio-info">
                <h4><a href="https://www.microsoft.com/en-in" target="_blank">Microsoft</a></h4>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../../assets/img/hiring job/genpactt.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../../assets/img/hiring job/genpactt.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Back-end Developer 1"></a>
                <a href="portfolio-details.html" title="More Details"></a>
              </div>
              <div class="portfolio-info">
                <h4><a href="https://www.genpact.com/" target="_blank">Genpact</a></h4>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../../assets/img/hiring job/Oraclee.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../../assets/img/hiring job/Oraclee.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="front-end developer 3"></a>
                <a href="portfolio-details.html" title="More Details"></a>
              </div>
              <div class="portfolio-info">
              <h4><a href="https://www.oracle.com/in/" target="_blank">Oracle</a></h4>
              </div>
            </div>
          </div>

        </div>
    </div>
    </section>
    
    <!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <!-- <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-in">Team</h2>
          <p data-aos="fade-in">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="member" data-aos="fade-up">
              <div class="pic"><img src="assets/img/team/team-1.jpg" alt=""></div>
              <h4>Walter White</h4>
              <span>Chief Executive Officer</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="pic"><img src="assets/img/team/team-2.jpg" alt=""></div>
              <h4>Sarah Jhinson</h4>
              <span>Product Manager</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/team-3.jpg" alt=""></div>
              <h4>William Anderson</h4>
              <span>CTO</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="pic"><img src="assets/img/team/team-4.jpg" alt=""></div>
              <h4>Amanda Jepson</h4>
              <span>Accountant</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
     -->
    <!-- End Team Section -->

    <!-- ======= Pricing Section ======= -->
    <!-- <section id="pricing" class="pricing section-bg">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-in">Pricing</h2>
          <p data-aos="fade-in">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-4 box" data-aos="zoom-in">
            <h3>Free</h3>
            <h4>$0<span>per month</span></h4>
            <ul>
              <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
              <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
              <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
              <li class="na"><i class="bx bx-x"></i> <span>Pharetra massa massa ultricies</span></li>
              <li class="na"><i class="bx bx-x"></i> <span>Massa ultricies mi quis hendrerit</span></li>
            </ul>
            <a href="#" class="get-started-btn">Get Started</a>
          </div>

          <div class="col-lg-4 box featured" data-aos="zoom-in">
            <span class="featured-badge">Featured</span>
            <h3>Business</h3>
            <h4>$29<span>per month</span></h4>
            <ul>
              <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
              <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
              <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
              <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
              <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>
            </ul>
            <a href="#" class="get-started-btn">Get Started</a>
          </div>

          <div class="col-lg-4 box" data-aos="zoom-in">
            <h3>Developer</h3>
            <h4>$49<span>per month</span></h4>
            <ul>
              <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
              <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
              <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
              <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
              <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>
            </ul>
            <a href="#" class="get-started-btn">Get Started</a>
          </div>

        </div>

      </div>
    </section>
     -->
    
    <!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-in">Frequently Asked Questions</h2>
          <p data-aos="fade-in">Got a questions? We're here to answer! If you don't see your question here, drop us a line on our Contact Page.</p>
        </div>

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up">
          <div class="col-lg-5">
            <!-- <i class="bx bx-help-circle"></i> -->
            <h4>Do I need a valid email id for registration?</h4>
          </div>
          <div class="col-lg-7">
            <p>
             Yes, you need a valid email id to register on CareerPro. The same email id will be used to communicate with you in the future.
              We value your privacy, and we hate spam as much as you do. We are not going to spam or sell your address to any third party.
              We still need your email account to be able to provide you with your job related information or for any other career related notifications you may choose.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-5">
            <!-- <i class="bx bx-help-circle"></i> -->
            <h4> Can you use the software on mobile and desktop?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Most Education management systems are available to use on desktops and smartphones.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-5">
            <!-- <i class="bx bx-help-circle"></i> -->
            <h4>Better Communication with Freshers</h4>
          </div>
          <div class="col-lg-7">
            <p>
              With the help of the Education Management Information System, freshers can receive individual messages or group messages. It can be helpful when there is an important announcement to be made on short notice regarding jobs rescheduling or an upcoming deadline.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-5">
            <!-- <i class="bx bx-help-circle"></i> -->
            <h4>How do I log in?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Reach the candidate log in by entering your log in and password in the site or by clicking on Login in the Homepage and enter your Email Address and password.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="col-lg-5">
            <!-- <i class="bx bx-help-circle"></i> -->
            <h4>Do I need to register to apply for a job?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Yes, you need to register to be able to apply for a job on CareerPro.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

      </div>
    </section>
    
    <!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <!-- <section id="contact" class="contact section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact us by filling out the form below.</p>
        </div>

        <div class="row">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box" data-aos="fade-up">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p>A108 Adam Street, New York, NY 535022</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p>info@example.com<br>contact@example.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form w-100" data-aos="fade-up">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Submit</button></div>
            </form>
          </div>

        </div>

      </div>
    </section>
     -->
    <!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <!-- <div class="footer-top">

      <div class="container">

        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <h3>CareerPro</h3>
            <p>Subscribe to CareerPro for more jobs</p>
          </div>
        </div>

        <div class="row footer-newsletter justify-content-center">
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email" placeholder="Enter your Email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>

        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>

      </div>
    </div>-->

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>CareerPro</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bocor-bootstrap-template-nice-animation/ -->
        Designed by <a href="https://www.webdevitsolutions.com/" target="_blank">WebDevITSolutions</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>