<div class="container">
    <div class="row">
        <h1>Dashboard</h1>
        <!-- <div class="col-2 offset-10">
        <button type="addjob" class="float-right btn btn-primary">Add Job</button>
        </div> -->
    </div>
<div class="row">
    <div class="flex-container">
        <div style="flex-grow: 6">
                <h4><a href="#" routerLink="/frontenddeveloper" routerLinkActive="active">React(Front-End Developer)</a></h4>
                <h5>WebDev IT Solutions</h5>
                <h6>Remote in Patna, Bihar</h6>
                    Experience: 0-5yr
            <div class="col-5 offset-2">
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary" routerLink="/frontenddeveloper" routerLinkActive="active">View Details</button>
                </div>            
            </div>
        </div>
        <div style="flex-grow: 6">
                <h4><a href="#" routerLink="/backenddeveloper" routerLinkActive="active">Java(Back-end Developer)</a></h4>
                <h5>Kalasource-Empowering Businesses</h5>
                <h6>Remote in Nashik, Maharashtra</h6>
                    Experience: 5yr
            <div class="col-4 offset-3">
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary" routerLink="/backenddeveloper" routerLinkActive="active">View Details</button>
                </div>            
            </div>
        </div>
        <div style="flex-grow: 6">
            <h4><a href="#" routerLink="/cloudengineer" routerLinkActive="active">AWS (Cloud Engineer)</a></h4>
            <h5>Magnon Group</h5>
            <h6>Remote in Noida, Uttar Pradesh</h6>
                Experience: 3-10yr
        <div class="col-6 offset-1">
            <div class="d-grid">
                <button type="submit" class="btn btn-primary" routerLink="/cloudengineer" routerLinkActive="active">View Details</button>
            </div>            
        </div>
    </div>
    </div>
</div>
<div class="row">
    <div class="flex-container">
        <div style="flex-grow: 6">
                <h4><a href="#" routerLink="/devopsengineer" routerLinkActive="active">Python(DevOps Engineer)</a></h4>
                <h5>Cybene Automation Pvt Ltd</h5>
                <h6>Ernakulam, Kerala</h6>
                    Experience: 2-5yr
            <div class="col-5 offset-2">
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary" routerLink="/devopsengineer" routerLinkActive="active">View Details</button>
                </div>            
            </div>
        </div>
        <div style="flex-grow: 6">
            <h4><a href="#" routerLink="/uideveloper" routerLinkActive="active">React/Angular(UI Developer)</a></h4>
            <h5>CoRover Private Limited</h5>
            <h6>Remote & Flexible schedule</h6>
                Experience: 0-2yr
        <div class="col-5 offset-2">
            <div class="d-grid">
                <button type="submit" class="btn btn-primary" routerLink="/uideveloper" routerLinkActive="active">View Details</button>
            </div>            
        </div>
    </div>
    <div style="flex-grow: 6">
            <h4><a href="#" routerLink="/softwaredeveloper" routerLinkActive="active">ReactJS(Software Developer)</a></h4>
            <h5>Anzil Soft Pvt Ltd</h5>
            <h6>Pune, Maharashtra •Remote</h6>
                Experience: 0-2yr
        <div class="col-5 offset-2">
            <div class="d-grid">
                <button type="submit" class="btn btn-primary" routerLink="/softwaredeveloper" routerLinkActive="active">View Details</button>
            </div>            
        </div>
    </div>
    </div>
</div>
<div class="row">
    <div class="flex-container">
        
    </div>
</div>
<div class="row">
    <div class="flex-container">
        <div style="flex-grow: 3">
                <h4><a href="#" routerLink="/fullstackwebdeveloper" routerLinkActive="active">PHP(Full Stack Web Developer)</a></h4>
                <h5>Maniten Services</h5>
                <h6>India•Remote</h6>
                    Experience: 3-5yr
            <div class="col-5 offset-2">
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary" routerLink="/fullstackwebdeveloper" routerLinkActive="active">View Details</button>
                </div>            
            </div>
        </div>
        <div style="flex-grow: 3">
                <h4><a href="#" routerLink="/juniordevopsengineer" routerLinkActive="active">Junior DevOps Engineer</a></h4>
                <h5>Fanisko Private Limited</h5>
                <h6>Chennai, Tamil Nadu</h6>
                    Experience: 0-1yr
            <div class="col-5 offset-2">
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary" routerLink="/juniordevopsengineer" routerLinkActive="active">View Details</button>
                </div>            
            </div>
        </div>
        <div style="flex-grow: 3">
            <h4><a href="#" routerLink="/javaj2eedeveloper" routerLinkActive="active">Java/J2EE Developer</a></h4>
            <h5>Mdu Santisolution Pvt Ltd</h5>
            <h6>Madurai, Tamil Nadu•Remote</h6>
                Experience: 2-5yr
        <div class="col-5 offset-2">
            <div class="d-grid">
                <button type="submit" class="btn btn-primary" routerLink="/javaj2eedeveloper" routerLinkActive="active">View Details</button>
            </div>            
        </div>
    </div>
    </div>
</div>
</div>

  