<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="flex-container">
          <div style="flex-grow: 6">
            <h5>Job details</h5>
        <h6>Benefits & Perks</h6>
            Work from home, Paid time off
        <h6>Job Type</h6>
            Full-time <br>
            Regular/Permanent
        <h5>Full Job Description</h5>
        Anzilsoft Pvt. Ltd. is looking for a web developer with experience of 1 year. <br>
        <p>The candidate should have a strong knowledge of the following things:</p>
            <ul class="a">
                <li>ReactJS [Basic knowledge] - Important</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Bootstrap</li>
                <li>Logically should be strong</li>
                <li>Sharp learner of new technologies</li>
                <li>Team Player</li>
            </ul>
            <p>Additional knowledge of any of the following things will be an added advantage:-</p>
            <ul class="b">
                <li>Node JS</li>
                <li>Strapi</li>
                <li>React Native</li>
                <li>Dot Net Core</li>
            </ul>
            <p>[Note - Candidate should have his/her own Laptop/Desktop for development]</p>
            <p>Job Types: Full-time, Regular / Permanent</p>
            <h6>Benefits:</h6>
            <ul class="c">
                <li>Flexible schedule</li>
                <li>Paid time off</li>
                <li>Work from home</li>
            </ul> 
        <h6>Schedule:</h6>
            <ul class="d">
                 <li>Day shift</li>
            </ul>
        <h6>Application Question(s):</h6>
            <ul class="e">
                <li>Do you have basic knowledge of React JS?</li>
                <li>Are you ready to give 1 year of commitment in the form of bond?</li>
                <li>Are you flexible enough to learn and work on any technology stack?</li>
                <li>Do you have your own Laptop/Desktop for development?</li>
            </ul>
          </div>
          <div style="flex-grow: 6">
            <h6>Company Info</h6>
                Website:<a href="https://www.anzilsoft.com/" target="_blank">AnzilSoft</a><br>
                Address: HQ9C+QJ7, Elite Brookland Opposite Tatva Hotel Baner - Balewadi Rd, near Syngenta, Laxman Nagar, Balewadi, Pune, Maharashtra 411045<br><br>
            <div class="col-2 offset-10">
                <div class="d-grid">
                    <button type="submit" class="float-right btn btn-primary" routerLink="/application" routerLinkActive="active">Apply Now</button>
                </div>            
            </div>
        </div>
      </div>
    </div>
  </div>
  


