<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="flex-container">
          <div style="flex-grow: 6">
            <h5>Job details</h5>
        <h6>salary</h6>
            ₹30,000 - ₹50,000 a month
        <h6>Benefits & Perks</h6>
            Work from home, Paid time off
        <h6>Job Type</h6>
            Full-time <br>
            Contractual/Temporary <br>
            Freelance
        <h6>Qualifications</h6>
                <ul class="a">
                    <li>Total work: 2 years (Preferred)</li>
                </ul>
            
        <h5>Full Job Description</h5>
            <p>About us</p>
            We are professional and agile.<br>
            <p>Our work environment includes:</p>
            <ul class="b">
                <li>Growth opportunities</li>
                <li>Basic Knowledge of Continuous Integration, Continuous Delivery</li>
                <li>Knowledge of Jenkins or Bamboo</li>
                <li>Python Scripting Knowledge</li>
                <li>Basic Knowledge on Jira</li>
                <li>Knowledge on any Static Code Analysis tool</li>
                <li>Exposure to Containerization technologies like Docker and Kubernetes</li>
                <li>Excellent verbal and written communication skills. Ability to work independently and on a team. Strong analytical and problem-solving skills.</li>
            </ul>
            <p>Job Types: Full-time, Contractual / Temporary, Freelance</p>
            <p>Contract length: 4 months</p>
            <p>Salary: ₹30,000.00 - ₹50,000.00 per month</p>
            <h6>Benefits:</h6>
            <ul class="c">
                <li>Flexible schedule</li>
                <li>Paid time off</li>
                <li>Work from home</li>
            </ul> 
        <h6>Schedule:</h6>
            <ul class="d">
                 <li>Flexible shift</li>
            </ul>
        <h6>Supplemental pay types:</h6>
            <ul class="e">
                <li>Overtime pay</li>
                <li>Performance bonus</li>
            </ul>
        <h6>Ability to commute/relocate:</h6>
            <ul class="f">
                <li>Ernakulam, Kerala: Reliably commute or planning to relocate before starting work (Required)</li>
            </ul>
        <h6>Experience:</h6>
        <ul class="g">
            <li>total work: 2 years (Preferred)</li>
        </ul>
        <p>Application Deadline: 20/03/2023</p>
        <p>Expected Start Date: 01/06/2023</p>
          </div>
          <div style="flex-grow: 6">
            <h6>Company Info</h6>
                Website:<a href="https://cybene.in/" target="_blank">Cybene Automation Private Limited</a><br>
                Address: 32/7B 43/3438 Puthiya Road Jn, NH By-Pass, Thammanam, Ernakulam, Kerala 682032<br><br>
            <div class="col-2 offset-10">
                <div class="d-grid">
                    <button type="submit" class="float-right btn btn-primary" routerLink="/application" routerLinkActive="active">Apply Now</button>
                </div>            
            </div>
        </div>
      </div>
    </div>
  </div>
  

