<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="flex-container">
          <div style="flex-grow: 6">
            <h5>Job details</h5>
            <h6>Salary</h6>
                Up to ₹4,62,751 a year
            <h6>Benefits & Perks</h6>
                Work from home
        <h6>Job Type</h6>
            Fresher
        <h6>Qualifications</h6>
        <ul class="a">
            <li>Bachelor's (Required)</li>
            <li>Java (Preferred)</li>
        </ul>
        <h5>Full Job Description</h5>
            <p>We are looking for fresher who got trained in Java, J2EE technology stack to join our software development team.</p>
        <h6>Skills Required</h6>
            <ul class="b">
                <li>Knowledge in Java, J2EE</li>
                <li>Frameworks Spring/Sping boot/Struts</li>
                <li>Databases like SQL/MYSQL Mysql/Oracle/SQL server</li>
                <li>IDE Tools Eclipse</li>
            </ul>
            <h6>Degree --> BE/B.Tech in Computer Science Enggineering</h6>
            <p>Job Type: Fresher</p>
            <p>Salary: Up to ₹462,751.11 per year</p>
            <h6>Benefits:</h6>
            <ul class="b">
                <li>Work from home</li>
            </ul> 
            <h6>Schedule:</h6>
            <ul class="c">
                <li>Flexible shift</li>
                <li>Rotational shift</li>
            </ul>
            <h6>Supplemental pay types:</h6>
            <ul class="d">
                <li>Performance bonus</li>
                <li>Yearly bonus</li>
            </ul>
            <h6>Ability to commute/relocate:</h6>
            <ul class="e">
                <li>Madurai, Tamil Nadu: Reliably commute or planning to relocate before starting work (Required)</li>
            </ul>
            <h6>Education:</h6>
            <ul class="f">
                <li>Bachelor's (Required)</li>
            </ul>
            <h6>License/Certification:</h6>
            <ul class="g">
                <li>Java (Preferred)</li>
            </ul>
          </div>
          <div style="flex-grow: 6">
            <h6>Company Info</h6>
                Website:<a href="https://www.mdu-santi-solution-private-limited/company/U72900TN2018PTC120321" target="_blank">SANTI SOLUTION PVT LTD</a><br>
                Address: B4, Saathveeka Apartments, Ilango St, EB Colony, Iyer Bungalow, Madurai, Tamil Nadu 625014<br><br>
            <div class="col-2 offset-10">
                <div class="d-grid">
                    <button type="submit" class="float-right btn btn-primary" routerLink="/application" routerLinkActive="active">Apply Now</button>
                </div>            
            </div>
        </div>
      </div>
    </div>
  </div>
  


