<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="flex-container">
        <div style="flex-grow: 6">
          <h5>Job description:</h5>
          <ul class="a">
            <li>Software development using object-oriented languages (JavaScript), modern markup technologies and scripting frameworks (React) using Microservices.</li>
            <li>Write well designed, testable, secure & efficient code.</li>
            <li>Ensure best practices are being used while writing code.</li>
            <li>Debug software components and identify code defects for remediation.</li>
            <li>Development of proof-of-concept code and applications.</li>
          </ul>
          
          <h6>YOURE GOOD AT</h6>
          <ul class="b">
            <li>Experience with writing client-side JavaScript using at least one industry standard framework (e.g. React, Redux, Saga)</li>
            <li>Strong coding skills of HTML5, CSS3, SASS and Styled components. Have exposure on responsive web application.</li>
            <li>Able to write Unit test cases using Jest, Enzyme.</li>
            <li>Good to have - Node JS, Accessibility.</li>
          </ul>
          
          <h6>YOU BRING (EXPERIENCE & QUALIFICATIONS)</h6>
          <ul class="c">
            <li>Bachelor s degree in computer science and engineering or Math.</li>
            <li>Must be flexible with an eye for detail.</li>
            <li>Creative approach to problem solving.</li>
          </ul>
          
          <h6>YOULL WORK WITH</h6>
          <ul class="d">
            <li>Must be able to perform successfully in a fast-paced, intellectually intense, service-oriented, global environment and to interpret rules and guidelines flexibly to enhance the business and in keeping with BCG s values and culture.</li>
            <li>Experience working successfully within a complex matrix structured organization is essential.</li>
          </ul>
          <h6>Role</h6>
          Front End Developer<br>
          
          <h6>Industry Type</h6>
          Management Consulting<br>
          
          <h6>Department</h6>
          Engineering-Software & QA<br>
          
          <h6>Employment Type</h6>
          Full Time, Permanent<br>
          
          <h6>Role Category</h6>
          Software Development<br>
          
          <h6>Education</h6>
          UG: B.Tech/B.E. in Any Specialization, BCA in Any Specialization, B.Sc in Any Specialization <br>
          PG: M.Tech in Any Specialization, MCA in Any Specialization<br>
          
          <h6>Key Skills</h6>
          Computer science, Coding, Web application, JavaScript, Test cases, Unit testing, CSS3, Bootstrap<br>
        </div>
        <div style="flex-grow: 6">
              <h6>About Company</h6>
              WevDev IT Solutions is a fun place to work where you grow based on your performance.
              It is an ideal workplace for personal growth as well as professional growth.
              Working here, you will learn a lot and when you have great ideas they will be listened to.
              We celebrate your success and your efforts and strive to create a casual and supportive environment in which you can excel.
              All employees enjoy medical insurance, life insurance, paid time off, and the flexibility to work from anywhere.
              You can be located anywhere in the world, and still, work with us.<br><br>

              <h6>Company Info</h6>
              Website:<a href="https://www.webdevitsolutions.com/" target="_blank">WebDevITSolutions</a><br>
              Address: near B.D. Public School, Dujra Chak, Buddha Colony, Patna, Bihar 800001
          <div class="col-2 offset-10">
              <div class="d-grid">
                  <button type="submit" class="float-right btn btn-primary" routerLink="/application" routerLinkActive="active">Apply Now</button>
              </div>            
          </div>
      </div>
    </div>
  </div>
</div>
